S3_ACCESS_KEY=
S3_SECRET_KEY=

KAGGLE_USERNAME=
KAGGLE_KEY=

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

AIRFLOW__CORE__FERNET_KEY=

AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=
AZURE_GROUP_EXECUTIVO=
AZURE_GROUP_DESENVOLVEDOR=

POSTGRES_HOST=postgres
POSTGRES_DB=tcc_db
POSTGRES_USER=
POSTGRES_PASSWORD=

# PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
